body, html{
  height: 100%;
  background: #fff;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Layout */
section {
  width: 100%;
  /*min-height: 100%;*/
  position: relative;
  padding-bottom: 100px;
}


.content h1 {
  font-family: HelveticaNeue-Bold;
  font-size: 52px;
  line-height: 1.1;
  letter-spacing: -2px;
  font-weight: 100;
}

.content h2 {
  font-family: HelveticaNeue-Bold;
  font-size: 32px;
  line-height: 1.1;
  letter-spacing: -2px;
  font-weight: 100;
}

.content h3 {
  font-weight: 500;
  font-size: 25px;
  margin: 0;
  padding: 0;
}

.content {
  border: solid 1px #f00;

  font-family: HelveticaNeue;
  font-size: 18px;
  line-height: 1.5;
  color: #FFF;
  letter-spacing: 1px;

  width: 700px;
  margin: 0 auto 0 auto;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.banner {
  object-fit: contain;
  background-image: url("img/bg.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 823px;
}

.banner .arrow {
  margin-top: 50px;
}

.hva-ser-vi-etter {
  height: 1086px;
  background-color: #282d2d;
}

.slik-er-det {
  height: 802px;
  background-color: #f9f9f9;
}

.slik-er-det .content {
  color: #000;
}

.slik-er-det .text-medium {
  width: 410px;
  margin: 0 auto 0 auto;
}

.slik-er-det img {
  margin-top: 50px;
}


.bli-med {
  height: 569px;
}

.bli-med .content {
  color: #000;
}

.vi-er-stotle-av {
  height: 632px;
  background-color: #0097a2;
}

.flinke-folk {
  height: 664px;
  background-color: #f9f9f9;
}

.flinke-folk .content {
  width: 1000px;
  height: 664px;
  color: #000;
  text-align: left;
}

.flinke-folk .item {
  height: 664px;
}

.folk-picture-big {
  width: 431px;
  float: left;
}

.folk-content {
  margin-top: 150px;
  margin-left: 431px;
  padding-left: 20px;
}

.folk-selection .userpic {
  margin-right: 33px;
}

.folk-roles {
  font-size: 14px;
}

.folk-desc {
  font-size: 16px;
  margin-bottom: 20px;
}

.folk-social a {
  color: #656b6f;
}

.social-icon {
  background-color: #EEE;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: block;
  float: left;
  margin-right: 10px;
}

.social-icon:hover {
  background-color: #DDD;
}

.fa-facebook {
  margin: 7px 0px 0px 12px;
}

.fa-twitter {
  margin: 7px 0px 0px 8px;
}

.fa-linkedin {
  margin: 7px 0px 0px 9px;
}

.fa-github {
  margin: 7px 0px 0px 8px;
}

.i-tillegg {
  height: 569px;
}

.i-tillegg .content {
  color: #000;
}

.dette-er-oss {
  height: 569px;
  background-color: #3b3d40;
}

.hva-ser-vi-etter {
  background-color: #282d2d;
}

.banner .knowit-share-square {
  width: 100px;
  margin: 0 auto 0 auto;
}

.banner .ledig-stilling {
  width: 200px;
  margin: 0 auto 0 auto;
  font-size: 11px;
}

@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url('font/helvetica-neue-bold.ttf');
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('font/helvetica-neue.ttf');
}

.banner h1 {
  width: 613px;
  height: 282.5px;
  font-family: HelveticaNeue-Bold;
  font-size: 52px;
  line-height: 1.1;
  letter-spacing: -2px;
  color: #ffffff;
  margin: 0 auto 0 auto;
}

.center-box {
}

.overlay {
  height: 823px;
  opacity: 0.9;
  background-color: #1e2222;
}


table, th, td,  tr {
  border: 1px solid black;
}

table {
   width: 100%;
}

td, th {
  padding: 10px;
}

.text-left {
  text-align: left;
}

.soknad-knapp {
  width: 330px;
  margin: 0 auto 0 auto;
}

.round-button {
  border-radius: 40px;
  border: 1px solid rgba(255,255,255,  0.3);
  overflow: hidden;
  margin: 0 auto 0 auto;
}

.round-button:hover {
  background: rgba(255,255,255,  0.1);
}

.round-button a {
  display:block;
  height: 50px;
  margin-top: 20px;

  font-family: HelveticaNeue-Bold;
  text-align:center;
  color: #e2eaf3;
  letter-spacing: 2px;
  text-decoration:none;
}


.carousel-control.left, .carousel-control.right {
  background-image: none;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

.carousel-control {
    background-image: none
}


@media (min-width: 700px) {

}
