body, html{
  height: 100%;
  background: #fff;
}
html {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

b {
  font-weight: 300;
}

/* Layout */
section {
  width: 100%;
  margin: 0;
  padding: 0;
}



h5 {
  font-size: 12px;
}


.text-small {
  font-size: 14px;
}

.content {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #FFF;
  letter-spacing: 1px;
  font-weight: 100;

  max-width: 700px;
  margin: 0 auto 0 auto;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  overflow: hidden;
}

.content h1 {
  font-size: 7.5vmin;
  line-height: 1.1;
  letter-spacing: -2px;
}

.content h2 {
  font-size: 4.61vmin;
  line-height: 1.1;
  letter-spacing: -1px;
}

.content h3 {
  font-size: 3.61vmin;
  margin: 0;
  padding: 0;
}

.center-xy {
  margin: 0 auto 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.banner {
  height: 100%;
  object-fit: contain;
  background-image: url("img/bg.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

.banner .knowit_logo {
  width: 60px;
  opacity: 0.4;
  padding-bottom: 20px;
}

.banner h5 {
  padding-bottom: 20px;
}

.banner .arrow {
  margin-top: 50px;
  font-size: 32px;
  opacity: 0.5;
  color: #FFF;
  cursor: pointer;
}
.banner .arrow:hover {
  opacity: 0.8;
}

.hva-ser-vi-etter {
  height: 1086px;
  background-color: #282d2d;
}

.slik-er-det {
  height: 802px;
  background-color: #f9f9f9;
}

.slik-er-det .content {
  color: #000;
}

.slik-er-det .text-medium {
  max-width: 410px;
  margin: 0 auto 0 auto;
}

.slik-er-det .video {
  width: 100%;
  height: 100%;
  margin: 0 auto 0 auto;
}

.slik-er-det .box {
  height: 315px;
}

.slik-er-det .video-wrapper   {
  width:100%;
  height:100%;
  max-width: 600px;
  margin:0 auto;
}
.slik-er-det .h_iframe {
  position:relative;
}
.slik-er-det .h_iframe .ratio {
  display:block;
  width:100%;
  height:auto;
}
.slik-er-det .h_iframe iframe {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}


.bli-med {
  height: 900px;
}

.bli-med .content {
  max-width: 900px;
  color: #000;
}

.vi-er-stolte-av {
  height: 632px;
  background-color: #0097a2;
}

.vi-er-stolte-align {
  padding-top: 80px;
}

.vi-er-stolte-av .content {
  text-align: left;
  max-width: 800px;
}

.vi-er-stolte-av .box {
  max-width: 470px;
}

.vipps {
  text-align: right;
}

.flinke-folk {
  height: 664px;
  background-color: #f9f9f9;
}

.flinke-folk .content {
  max-width: 800px;
  height: 464px;
  color: #000;
  text-align: left;
}

.flinke-folk .item {
  height: 664px;
}

.folk-picture-big {
  width: 431px;
  float: left;
}

.folk-content {
  margin-left: 431px;
  padding-left: 20px;
  padding-top: 150px;
  width: 360px;
}

.folk-selection .userpic {
  margin-right: 24px;
  opacity: 0.5;
  cursor: pointer;
}

.folk-selection .userpic:last-child {
    margin-right: 0;
}


.folk-selection .active, .folk-selection .userpic:hover {
  opacity: 1;
}

.folk-roles {
  font-size: 14px;
}

.folk-desc {
  font-size: 16px;
  margin-bottom: 20px;
}

.folk-social a {
  color: #656b6f;
}

.social-icon {
  background-color: #EEE;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: block;
  float: left;
  margin-right: 10px;
}

.social-icon:hover {
  background-color: #DDD;
}

.fa-facebook {
  margin: 7px 0px 0px 11px;
}

.fa-twitter {
  margin: 7px 0px 0px 8px;
}

.fa-linkedin {
  margin: 7px 0px 0px 9px;
}

.fa-github {
  margin: 7px 0px 0px 8px;
}

.i-tillegg {
  height: 700px;
}

.i-tillegg .content {
  padding-top: 50px;
  color: #000;
}

.i-tillegg .icon {
  color: #009682;
  font-size: 24px;
}

.i-tillegg .box {
  width: 160px;
  margin: 0 auto 0 auto;
}

.i-tillegg .row {
  margin-top: 40px;
}

.tillegg-box {
  height: 150px;
}

.dette-er-oss {
  height: 569px;
  background-color: #3b3d40;
}

.hva-ser-vi-etter {
  background-color: #282d2d;
}

.banner .knowit-share-square {
  width: 100px;
  margin: 0 auto 0 auto;
}

.banner .ledig-stilling {
  width: 200px;
  margin: 0 auto 0 auto;
  font-size: 11px;
}

.banner h1 {
  max-width: 613px;
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: -2px;
  color: #ffffff;
  margin: 0 auto 0 auto;
}

.overlay {
  height: 100%;
  opacity: 0.9;
  background-color: #1e2222;
}


table, th, td,  tr {
  border: 1px solid black;
}

table {
   width: 100%;
}

td, th {
  padding: 10px;
}

.text-left {
  text-align: left;
}

.soknad-knapp {
  width: 290px;
  margin: 0 auto 0 auto;
}

.round-button {
  border-radius: 40px;
  border: 1px solid rgba(255,255,255,  0.3);
  overflow: hidden;
  margin: 0 auto 0 auto;
}

.round-button:hover {
  background: rgba(255,255,255,  0.1);
}

.round-button a {
  border-radius: 40px;
  overflow: hidden;
  margin: 0 auto 0 auto;

  display:block;
  height: 60px;
  padding-top: 16px;

  font-weight: bold;
  text-align:center;
  color: #e2eaf3;
  letter-spacing: 2px;
  text-decoration:none;
  outline: none;
  cursor: pointer;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
  color: #000;
}

.carousel-control {
    background-image: none
}

.vspace-top-small {
  margin-top: 50px;
}

.hva-ser-vi-etter li {
  color: #dddddd;
  font-size: 30px;
}

.hva-ser-vi-etter li .list-style {
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  padding-top: 13px;
  width: 100%;
  padding-bottom: 20px;
}

.hva-ser-vi-etter .vline {
  position: fixed;
  left: 19px;
  margin-top: 20px;
  width: 1px;
  height: 400px;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.2));
  z-index: -99;
}

/* HACK for chrome :( */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .hva-ser-vi-etter .vline {
      left: 20px;
  }
}

.button-row {
  width: 300px;
  margin: 0 auto 0 auto;
  padding-bottom: 40px;
  padding-top: 10px;
}

.bli-med li {
  display: block;
  float: left;
  font-size: 12px;

  margin-right: 20px;
}

.bli-med ul {
  margin: 0;
  padding: 0;
}

.bli-med li:last-child  {
  margin-right: 0px;
}

.bli-med li a {
  display: block;

  border-radius: 40px;
  overflow: hidden;
  margin: 0 auto 0 auto;

  padding: 3px 10px 3px 10px;

  background-color: #EFEFEF;
  color: #656b6f;
  text-decoration: none;
  font-weight: bold;
}

.bli-med li a:hover, .bli-med .active {
  background-color: #656b6f;
  color: #FFF;
}

.bli-med li a {
  outline: none;
}

.opacity7 {
  opacity: 0.7;
}

.typeform, .typeform-widget {
  height: 100%;
}

#typeform-window {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(16, 18, 18, 0.9);
  z-index: 100;
  display: none;
}

#typeform-window iframe {
  width: 100%;
  height: 100%;
  padding: 100px;
  border: 0;
}

.close-window-button {
  position: absolute;
  top: 100px;
  left: 110px;
  font-size: 35px;
  cursor: pointer;
}

@media (max-width: 800px) {
/* Adjust flinke folk for mobile */
.folk-picture-big {
    display: none;
}
.folk-content {
    margin: 0 auto 0 auto;
}
}

@media (max-width: 1000px) {

#typeform-window iframe {
  padding: 0;
}

.carousel-control.left, .carousel-control.right {
    display: none;
}

.close-window-button {
  top: 0;
  left: 10px;
}

.vipps {
  display: none;
}
.content {
  padding: 0 20px 0 20px;
}
.bli-med .content, .content {
  width: 100%;
}

.flinke-folk .content {
    padding: 0;
}

.hva-ser-vi-etter .vline {
  margin-left: 20px;
}

}

@media (min-width: 631px) {
.content h1 {
    font-size: 52px;
}

.content h2 {
    font-size: 32px;
}
}
