extends layout.jade

block content
  section.banner
    .overlay
      .content
        img.knowit_logo(src="img/knowit_logo.png")

        h5 LEDIG STILLING

        h1 ER DU FRONT-ENDER & KLAR FOR Å JOBBE MED DE FLINKESTE FOLKENE OG DE FETESTE PROSJEKTENE?!

        .arrow.fa.fa-angle-down

  section.hva-ser-vi-etter
    .content
      h1.text-left Hva ser vi etter hos deg?
      p.text-left.opacity7 Vi er på jakt etter deg som mener verden fremdeles har til gode å se de beste løsningene innen teknolog og kommunikasjon. Setter du pris på et høyt faglig fokus i uformelle omgivelser, kort vei til sjefen og en kultur for innovasjon!

      .text-left
        .vline
        ul.experiences
          li
            span
              .row
                .col-md-4.opacity7 Erfaring
                .col-md-8
                  b Mer enn 2 års erfaring med utvikling av brukergrensesnitt/webapplikasjoner.
          li
            span
              .row
                .col-md-4.opacity7 Språk
                .col-md-8
                  b Kunnskap om JavaScript, HTML, CSS og relevante rammeverk. Webutvikling med enten Java, .NET, PHP, Python eller Ruby.
          li
            span
              .row
                .col-md-4.opacity7 Utdanning
                .col-md-8
                  b Universitet, høgskole eller tilsvarende.
          li
            span
              .row
                .col-md-4.opacity7 Fordel
                .col-md-8
                  b ES2016, PostCSS/SASS, React.js, Redux, webpack Karma, Jasmine/Moca, ESLint Backend-utvikling
      .vspace-top-small
      .soknad-knapp.round-button
          a(href="#") SEND INN DIN SØKNAD

  section.slik-er-det
    .content
      h1 Slik er det å jobbe i Knowit
      .text-medium Hør det rett fra kilden. En av våre egne har uttalt seg om hvordan det er å jobbe i Knowit.
      .vspace-top-small
      img.img-responsive(src="img/video.png")

  section.bli-med
    .content
      h5 PROSJEKTER VI JOBBER MED NÅ!
      h1 Bli med på ett av disse prosjektene
      .button-row
        ul
          li
            a(href="#" data-target="#prosjekt-carousel" data-slide-to="0") NETTSTED
          li
            a.active(href="#" data-target="#prosjekt-carousel" data-slide-to="1") WEBAPPS
          li
            a(href="#" data-target="#prosjekt-carousel" data-slide-to="2") TJENESTER

      #prosjekt-carousel.carousel.slide(data-ride="carousel")
        .carousel-inner(role="listbox")
          .item.active
            img.img-responsive(src="img/prosjekter.png")
          .item
            img.img-responsive(src="img/prosjekter.png")
          .item
            img.img-responsive(src="img/prosjekter.png")

  section.vi-er-stolte-av
    .content
      .row
        .col-md-8
          .vi-er-stolte-align
            h5 VI ER STOLTE AV
            h1
              | #Ruter, Vipps &
              br
              | BankID 2.0, by Knowit!
            .box.text-medium Våre flinke folk har vært med på å lage noen av de appene som er brukt av hundre tusenvis av Normen hver eneste dag! Dette er bare begynnelsen! Med deg med på laget kan vi få til enda mer!
        .col-md-4.vipps
          img(src="img/vipps-img.png")

  section.flinke-folk
    #folk-carousel.carousel.slide(data-ride="carousel")
      .carousel-inner(role="listbox")
        .item.active
          .content
            .folk-picture-big
              img(src="img/frode-img.png")
            .folk-content
              h5 JOBB MED FLINKE FOLK PÅ SPENNENDE PROSJEKTER
              .folk-selection
                img.userpic(src="img/userpic-1.png" data-target="#folk-carousel" data-slide-to="0").active
                img.userpic(src="img/userpic-2.png" data-target="#folk-carousel" data-slide-to="1")
                img.userpic(src="img/userpic-3.png" data-target="#folk-carousel" data-slide-to="2")
                img.userpic(src="img/userpic-4.png" data-target="#folk-carousel" data-slide-to="3")
                img.userpic(src="img/userpic-6.png" data-target="#folk-carousel" data-slide-to="4")
              h2 Frode Ånonsen
              .folk-roles Teamleder, Front-end utvikling Oslo Kommune
              hr
              .folk-desc Frode har over 20 års erfaring med Javascript, HTML og CSS. Han har stålkontoll på Clojure, ClojureScript, Javascript og NodeJs.
              .folk-social
                a(href="#").social-icon
                  i.fa.fa-facebook
                a(href="#").social-icon
                  i.fa.fa-twitter
                a(href="#").social-icon
                  i.fa.fa-linkedin
                a(href="#").social-icon
                  i.fa.fa-github
        .item
          .content
            .folk-picture-big
              img(src="img/frode-img.png")
            .folk-content
              h5 JOBB MED FLINKE FOLK PÅ SPENNENDE PROSJEKTER
              .folk-selection
                img(src="img/userpic-1.png" data-target="#folk-carousel" data-slide-to="1").userpic
                img(src="img/userpic-2.png").userpic
                img(src="img/userpic-3.png").userpic
                img(src="img/userpic-4.png").userpic
                img(src="img/userpic-6.png").userpic
              h2 Ole Bakstad
              .folk-roles Teamleder, Front-end utvikling Oslo Kommune
              hr
              .folk-desc Frode har over 20 års erfaring med Javascript, HTML og CSS. Han har stålkontoll på Clojure, ClojureScript, Javascript og NodeJs.
              .folk-social
                a(href="#").social-icon
                  i.fa.fa-facebook
                a(href="#").social-icon
                  i.fa.fa-twitter
                a(href="#").social-icon
                  i.fa.fa-linkedin
                a(href="#").social-icon
                  i.fa.fa-github
      a.left.carousel-control(href="#folk-carousel" role="button" data-slide="prev")
        span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
        span.sr-only PREV
      a.right.carousel-control(href="#folk-carousel" role="button" data-slide="next")
        span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
        span.sr-only NEXT


  section.i-tillegg
    .content
      h1 I tillegg kan vi tilby deg:
      h5 LÆR MER &amp; TA DEL
      .row
        .col-xs-6.col-md-4
          .tillegg-box
            .icon.fa.fa-search
            h5 LOKASJON
            .box.text-small Lokaler midt i Oslo Sentrum!
        .col-xs-6.col-md-4
          .tillegg-box
            .icon.glyphicon.glyphicon-blackboard
            h5 KURSING
            .box.text-small Vi holder kurs internt og reiser verden rundt for å bli bedre på det vi gjør.
        .col-xs-6.col-md-4
          .tillegg-box
            .icon.fa.fa-balance-scale
            h5 TVERFAGLIG MILJØ
            .box.text-small Hos oss jobber vi på tvers av strategi, design og utvikling.

        .col-xs-6.col-md-4
          .tillegg-box
            .icon.fa.fa-book
            h5 ÅRLIG FAGTUR
            .box.text-small Hvert år holder vi seminar og fagtur.
        .col-xs-6.col-md-4
          .tillegg-box
            .icon.glyphicon.glyphicon-education
            h5 STERKT FAGMILJØ
            .box.text-small Lær sammen med andre. Du kan jobbe med flere kloke hoder.
        .col-xs-6.col-md-4
          .tillegg-box
            .icon.fa.fa-beer
            h5 ETTER JOBB
            .box.text-small Vi har aktiviterer fra dronebygging til øl-brygging.

  section.dette-er-oss
    .content
      h5 DETTE ER OSS
      h2 Hos oss finner du folk som er lidenskapelig  glad i faget sitt og elsker å lage nyskapende løsninger. Vi jobber tverrfaglig og elsker å utfordre oss selv!  Bli en del av teamet!
      .vspace-top-small
      .soknad-knapp.round-button
          a(href="#") SEND INN DIN SØKNAD
