doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='initial-scale=1, maximum-scale=1')
    title ER DU FRONT-ENDER &amp; KLAR FOR Å JOBBE MED DE FLINKESTE FOLKENE OG DE FEDTESTE PROSJEKTENE?!
    link(rel='stylesheet' href='dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='style.css')
    link(rel='stylesheet' href='http://netdna.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.css')
  body
    block content
    block scripts
      script(src='https://code.jquery.com/jquery-1.12.3.min.js')
      script(src='dist/js/bootstrap.min.js')
